<div>
  <h1 class="page-title">Contacts</h1>
</div>

<div class="row">
  <% @family_members.each do |family_member| %>
      <%#= link_to resident_family_member(family_member.resident_id) do %>
        <div class="col mb-3">
          <%= render "family_member_card", family_member: family_member %>
        </div>
    <%# end %>
  <% end %>
</div>
