<div>
  <h1 class="page-title">Contacts</h1>
</div>

<div class="row">
  <% @family_members.each do |family_member| %>
      <%= link_to resident_family_member(resident) do %>
        <div class="col mb-3">
          <%= render "resident_card", resident: resident %>
        </div>
    <% end %>
  <% end %>
</div>
