// Define variables for your color scheme

// For example:
$red: #B83736;
$dark-blue: #273136;
$blue: #1BB1C5;
$blue-2: #0693A7;
$light-blue: #DEF0F5;
$yellow: #D49500;
$orange: #E67E22;
$green: #8E9F4E;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FBFCFF;
