.page-title {
  color: $blue-2;
  font-family: $body-font;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 3vh;
}

.profile-card-info h1 {
  color: $blue-2;
  font-family: $body-font;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.profile-card-info h5 {
  color: $dark-blue;
}

.card-info-green {
  color: $green;

  h2 {
    margin-bottom: 0;
  }
}

.card-info-red {
  color: $red;

  h2 {
    margin-bottom: 0;
  }
}


.big-icon {
  font-size: 25px;
}
