// Specific CSS for your home-page
.homepage-content {
  text-align: center;
  color: #F4F4F4;
  font-family:  "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
}

.background {
  background-image: asset-url('image_homepage.png');
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
}

#logo {
  width: 
  align-items: ;
}
