<%= simple_form_for @report_category do |f| %>
   <div class="mb-3 text-white">
    <%= f.input :option_id, label: false, collection: Category.find(@category.id).options.pluck(:name), include_blank: false %>
    <%= f.error :option_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class:"button-primary-2care" %>
  </div>
<% end %>
