<div class="page-title">
<h1>form</h1>
  <%= simple_form_for [@report, @report_category] do |f| %>
    <%= f.association :category %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
