<div class="page-title">
  <%= simple_form_for [@report, @report_category] do |f| %>
    <%= f.association :category, include_blank: false %>
    <div class="form-actions">
      <%= f.button :submit, "Add", class: "button-primary-2care"%>
    </div>
  <% end %>

      <p><%= link_to "check report", report_path(@report), class:"button-primary-2care btn mt-2" %></p>

</div>
