<div class="main-navbar">
<%# TODO: this icon will be a LINK to the previous page, no matter where the user is %>
    <i class="fa-solid fa-arrow-left"></i>
    <%= image_tag "logo2care.png", alt: "logo 2 care", class: "logo" %>
<%# TODO: this icon only appears on the report creation and it will LINK to a modal %>
<%# to confirm if the user really wants to leave the report %>
    <i class="fa-solid fa-xmark d-none"></i>
</div>
