<div class="main-navbar">
  <%= link_to :back do %>
    <div class="icon-div-left">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <% if controller_name == "reports" && action_name == "new" %>
      <%# TODO: The name needs to be dynamic with the resident's first name %>
       <h2 class="navbar-text">Antonio's Report</h2>
    <% else %>
      <%= link_to dashboard_path, class: "logo" do %>
        <%= image_tag "logo2care.png", alt: "logo 2 care", class: "logo" %>
      <% end %>
    <% end %>
  <% end %>
<%# TODO: this icon only appears on the report creation and it will LINK to a modal %>
<%# to confirm if the user really wants to leave the report %>
    <div class="icon-div-right">
      <i class="fa-solid fa-xmark d-none"></i>
    </div>
</div>
