<div class = "menu-bar" data-controller="menu">
  <ul class="list-inline justify-content-between tabs mx-5 mb-0">
    <li>
      <div class="tab text-center active" data-menu-target="tab" data-action="click->menu#toggleTab">
        <a href="#" class = "d-block"><i class="fa-solid fa-house"></i></a>
        <a href="#" class = "d-block">Home</a>
      </div>
    </li>

    <li>
      <div class="tab text-center" data-menu-target="tab" data-action="click->menu#toggleTab">
        <a href="#" class = "d-block"><i class="fa-solid fa-user-group"></i></a>
        <a href="#" class = "d-block">Residents</a>
      </div>
    </li>

    <li>
      <div class="tab text-center" data-menu-target="tab" data-action="click->menu#toggleTab">
        <a href="#" class = "d-block"><i class="fa-solid fa-message"></i></a>
        <a href="#" class = "d-block">Chat</a>
      </div>
    </li>

    <li>
      <div class="tab text-center" data-menu-target="tab" data-action="click->menu#toggleTab">
        <a href="#" class = "d-block"><i class="fa-solid fa-user"></i></a>
        <a href="#" class = "d-block">Account</a>
      </div>
    </li>
  </ul>
</div>
