  <div class = "menu-bar" data-controller="menu">
    <ul class="list-inline justify-content-between tabs mx-5 mb-1 mt-1">
      <li>
        <%= link_to dashboard_path do %>
          <div class="tab text-center">
            <i class="fa-solid fa-house"></i>
            <%# <p class="d-block">Home</p> %>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to residents_path do %>
          <div class="tab text-center">
            <i class="fa-solid fa-user-group"></i></a>
            <%# <p class="d-block">Residents</p> %>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to dashboard_path do %>
          <div class="tab text-center">
            <i class="fa-solid fa-message"></i>
            <%# <p class="d-block">Chat</p> %>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to account_path do %>
          <div class="tab text-center active">
            <i class="fa-solid fa-user"></i>
            <%# <p class="d-block">Account</p> %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
