
<div class="container">

  <div style="background-image: url ('<%= image_path "app/assets/background_homepage.png" %>')>
</div>



    <div class= "logo_content">


    <p>Keeping families informed</p>

    </div>




</div>
