<div class="image_background" style="background-image: url('<%= image_path "new_background_homepage.png" %>')">
  <div class="dashboard-info-container d-flex flex-column">
    <%= image_tag "logo2care.png" %>
    <h3>Keeping families informed</h3>
    <%= link_to 'Get started', dashboard_path, class:'btn' %>
  </div>
</div>
