<div class="image_background" style="background-image: url('<%= image_path "new_background_homepage.png" %>')">
  <div class="dashboard-info-container">
    <%= image_tag "logo2care.png" %>
    <h2>Keeping families informed</h2>
    <%= link_to 'Get started', root_path, class:'btn btn-primary' %>
  </div>
</div>
