<div class="card-resident">
  <%= cl_image_tag resident.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-resident-infos">
    <h4><%= resident.first_name.capitalize %> <%= resident.last_name.capitalize %></h4>
    <p><%= resident.clinical_info.capitalize %></p>
  </div>
  <div class="card-resident-icon">
    <i class="fa-solid fa-file-pen"></i>
  </div>
</div>
