<div class="container">
  <div class="row">
    <% @residents.each do |resident| %>
        <%= link_to resident_path(resident) do %>
          <div class="col mb-2">
            <%= render "resident_card", resident: resident %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/menu-bar" %>
