<div>
  <h1 class="page-title">Profile</h1>
</div>
<%= render "profile-card", resident: @resident %>
<%= render "reports/form_report", resident: @resident, report: @report, report_category: @report_category %>
<%= render "shared/menu-bar" %>
