.auth{
  margin: 10% auto 0 auto;

  .button-primary-2care{
    padding: 10px 0 10px 0;
    width: 100%;
    border: none;
    &:hover{
      background-color: $white;
      color: $blue-2;
      border: 1px solid $blue-2 ;
    }
  }

  .button-danger-2care{
    padding: 10px 0 10px 0;
    width: 100%;
    border: none;
    &:hover{
      background-color: $white;
      color: $red;
      border: 1px solid $red ;
    }
  }

}

.auth h1{
  color: $blue-2;
}
