.main-navbar {
  display: flex;
  padding: 40px 0px 25px 0px;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: $blue-2;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
}


.main-navbar i {
  font-size: 30px;
  color: $white;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 33px;
  width: 136px;
}

.icon-div-left {
  width: 50px;
  height: 30px;
  text-align: right;
}

.icon-div-right {
  width: 50px;
  height: 30px;
  text-align: left;
}

.navbar-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $white;
  font: $body-font;
}
