.menu-bar{
  background-color: $light-blue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.tabs{
  display: flex;
  align-items: center;
}

.tabs .tab {
  padding: 4px;
  // margin: 4px;
  cursor: pointer;
  text-decoration: none;
  border-top: 4px solid transparent;

  a {
    text-decoration: none;
    color: $gray;
    opacity: 0.85;
  }
  i{
    color: $gray;
    opacity: 0.85;
  }
}

.tabs .tab.active{
  opacity: 1;
  border-top: 3px solid $blue-2;
  border-radius: 3px;

  a {
    text-decoration: none;
    color: $blue-2;
    opacity: 1;
  }
  i{
    color: $blue-2;
    opacity: 1;
  }
}
