.button-primary-2care {
  justify-content: center;
  align-items: center;
  font-family: $body-font;
  font-size: 16px;
  color: #F4F4F4;
  font-weight: bolder;
  border: 1px solid $blue-2;
  background-color: $blue-2;
  border-radius: 10px;
  height: 40px;
  padding: 15px; gap: 10px;
  display: flex;
}
