.button-primary-2care {
  font-family: $body-font;
  color: $white;
  font-weight: 600;
  background-color: $blue-2;
  border-radius: 10px;
  padding: 4%;
  justify-content: center;
  display: flex;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 156, 170, 0.20);

  &:hover{
    background-color: $white;
    color: $blue-2;
    border: 1px solid $blue-2 ;
  }
}

.button-danger-2care {
  font-family: $body-font;
  color: $white;
  font-weight: 600;
  background-color: $red;
  border-radius: 10px;
  padding: 4%;
  justify-content: center;
  display: flex;
  width: 100%;

  &:hover{
    background-color: $white;
    color: $blue-2;
    border: 1px solid $blue-2 ;
  }
}
