.button-primary-2care {
  font-family: $body-font;
  color: $white;
  font-weight: 600;
  background-color: $blue-2;
  border-radius: 10px;
  padding: 4%;
  justify-content: center;
  display: flex;
  width: 100%;
}

.button-danger-2care {
  font-family: $body-font;
  color: $white;
  font-weight: 600;
  background-color: $red;
  border-radius: 10px;
  padding: 4%;
  justify-content: center;
  display: flex;
  width: 100%;
}
