.profile-card {
  overflow: hidden;
  border-radius: 12px;
  background: $white;
  box-shadow: 0px 5px 5px 0px rgba(0, 156, 170, 0.20);
}

.card-height{
  height: 20vh;
}

.profile-card img {
  height: 100%;
  width: 40%;
  object-fit: cover;
  position: relative;
  left: 0;
}

.profile-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  opacity: 0.8;
}

.profile-card p {
  opacity: .7;
  margin-bottom: 0;
  font-family: $body-font;
}

.blue-text {
  color: $blue-2;
  font-size: 14px;
  font-family: $body-font;
}

.grey-text {
  color: $gray;
  font-size: 12px;
  font-family: $body-font;
}

.profile-card .profile-card-infos {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
