.report-form {
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.report-border {
  width: 240px;
  height: 60px;
  padding: 15px 20px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 5px 5px 0px rgba(142, 159, 78, 0.20);
  border: 2px solid $green;
}

.option-1 {
  color: $green;
  border-color: $green;
  font-size: 28px;
}

.option-2 {
  color: $yellow;
  border-color: $yellow;
  font-size: 28px;
}

.option-3 {
  color: $red;
  border-color: $red;
  font-size: 28px;
}


.carousel-inner i{
  color: $blue-2;
  opacity: 0.5;
  font-size: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.grey-empty-text {
  color: $blue-2;
  opacity: 0.25;
  font-size: 40px;
  padding: 40px;
  text-align: center;

  i {
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
