.report-form {
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.report-border {
  width: 240px;
  height: 60px;
  padding: 15px 20px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 5px 5px 0px rgba(142, 159, 78, 0.20);
  border: 2px solid $green;
}

.option {
  border: 1rem solid;
}

.option-0 {
  color: $green;
  border-color: $green;
  font-size: 28px;
}

.option-1 {
  color: $yellow;
  border-color: $yellow;
  font-size: 28px;
}

.option-2 {
  color: $red;
  border-color: $red;
  font-size: 28px;
}
