.card-resident {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: $white;
  box-shadow: 0px 5px 5px 0px rgba(0, 156, 170, 0.20);
}

.flex-card{
  height: 12vh;
}

.card-resident img {
  height: 100%;
  width: 20vw;
  object-fit: cover;
}

.card-resident h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: $blue-2;
}

.card-resident p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $blue-2;
}

.card-resident .card-resident-infos {
  padding: 16px;
  display: flex;
  align-items: center;

}

.card-resident h4 {
  font-size: 1rem;
  color: $blue;
}

.card-resident-icon {
  color: $blue;
  font-size: 3rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

.email-family-member {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
