.search_residents {

  i{
    color: $blue-2;
    font-size: 22px;
  }

  .form-control{
    border-radius: 10px 0 0 10px;
    position: fixed;
    bottom: 10%;
    left: 0;
    margin-left: 20px;
  }

  .button-primary-2care{
    padding: 10px;
    border: none;
    width: auto;
    border-radius: 0 10px 10px 0;
    &:hover{
      background-color: $white;
      color: $blue-2;
      border: 1px solid $blue-2 ;
    }
  }
}
