.button-secondary-2care {
  // justify-content: center;
  // align-items: center;
  // font-family: $body-font;
  // font-size: 16px;
  // color: $blue-2;
  // font-weight: bolder;
  // border: 1px solid $blue-2;
  // border-radius: 10px;
  // padding: 15px;
  // gap: 10px;
  // display: flex;

  font-family: $body-font;
  color: $blue-2;
  font-weight: 600;
  // background-color: $blue-2;
  border: 1px solid $blue-2;
  border-radius: 10px;
  padding: 4%;
  justify-content: center;
  display: flex;
}
