.button-secondary-2care {
  font-family: $body-font;
  color: $blue-2;
  font-weight: 600;
  border: 1px solid $blue-2;
  border-radius: 10px;
  padding: 4%;
  justify-content: center;
  display: flex;
}
