<% @report.report_categories.each do |report_category| %>
    <div class="option-wrapper d-flex align-items-center justify-content-center">
      <% category_option = report_category.category.options %>
      <% case  report_category.option.name %>
        <% when category_option.first.name %>
          <h2 class="option-0"><%= report_category.category.name %></h2>
          <i class="fa-regular fa-face-smile success"></i>
        <% when category_option.second.name %>
            <h2 class="option-1"><%= report_category.category.name %></h2>
          <i class="fa-regular fa-face-meh info"></i>
        <% when category_option.third.name %>
          <h2 class="option-2"><%= report_category.category.name %></h2>
          <i class="fa-regular fa-face-frown danger"></i>
      <% end %>
    </div>
<% end %>
