<% @report.report_categories.each do |report_category| %>
    <% category_option = report_category.category.options %>
    <% case  report_category.option.name %>
      <% when category_option.first.name %>
        <div class="option-wrapper option-0 mb-3">
          <h2><%= report_category.category.name.capitalize %></h2>
          <i class="fa-regular fa-face-smile"></i>
        </div>
      <% when category_option.second.name %>
        <div class="option-wrapper option-1 mb-3">
          <h2><%= report_category.category.name.capitalize %></h2>
          <i class="fa-regular fa-face-meh "></i>
        </div>
      <% when category_option.third.name %>
        <div class="option-wrapper option-2 mb-3">
          <h2><%= report_category.category.name.capitalize %></h2>
          <i class="fa-regular fa-face-frown"></i>
        </div>
    <% end %>
<% end %>
