<!-- Button trigger modal -->

<button type="button" class= "button-primary-2care" data-bs-toggle="modal" data-bs-target="#close">
  Close
</button>

<!-- Modal -->
<div class="modal fade" id="close" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Information</h1>
	      <%=<i class="fa-solid fa-moon"></i>%>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Quisque congue rutrum feugiat. Etiam eget arcu ut velit pellentesque accumsan <br> quis vitae sapien. Ut consectetur rhoncus enim, vitae commodo ligula.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-primary-2care" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class= "button-primary-2care" data-bs-toggle="modal" data-bs-target="#close">
  Close
</button>

<!-- Modal -->
<div class="modal fade" id="close" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Information</h1>
	      <%=<i class="fa-solid fa-utensils"></i>%>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Quisque congue rutrum feugiat. Etiam eget arcu ut velit pellentesque accumsan <br> quis vitae sapien. Ut consectetur rhoncus enim, vitae commodo ligula.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-primary-2care" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class= "button-primary-2care" data-bs-toggle="modal" data-bs-target="#close">
  Close
</button>

<!-- Modal -->
<div class="modal fade" id="close" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Information</h1>
	      <%= <i class="fa-solid fa-masks-theater"></i> %>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Quisque congue rutrum feugiat. Etiam eget arcu ut velit pellentesque accumsan <br> quis vitae sapien. Ut consectetur rhoncus enim, vitae commodo ligula.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-primary-2care" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
