<div>
  <h1 class="page-title">Reports</h1>
</div>
<% @reports.each do |report| %>
  <%= link_to report_path(report) do %>
    <p class="button-secondary-2care"><%= report.created_at.strftime('%e') + report.created_at.strftime('th %B %Y')%></p>
  <% end %>
<% end %>
